.Jollibee-header {
  background-color: darkred;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo-header {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.search-bar {
  flex: 1;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}

.search-icon {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-button {
  background: none; /* Or a specific background color */
  border: none; /* Or a specific border style */
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  /* Adjust as needed */
}
.cart-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: transparent;
  color: white;
}
