.jolibee-info {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 50px;
}

.jolibee-info-image {
  width: 400px;
  border-radius: 30px;
  margin-left: 20px;
  height: 400px;
  flex-shrink: 0;
  object-fit: cover;
}

.jolibee-info-text {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #333;
  flex: 1;
  text-align: left;
  padding-left: 20px;
  margin: 0;
  line-height: 1.5;
  word-spacing: 0.02rem;
  max-width: 600px;
}

.section-title-info {
  font-family: 'Poppins', sans-serif;
  color: rgb(170, 62, 62);
  margin-bottom: 20px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .jolibee-info {
    flex-direction: column;
    text-align: center;
  }

  .jolibee-info-image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .jolibee-info-text {
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
  }
}
