.menu-part {
  padding: 20px;
  background-color: bisque;
}

.section-title {
  font-family: "Fredoka One", sans-serif;
  font-size: 25px;
  color: rgb(170, 62, 62);
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.main-dishes {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.drinks {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.dessert {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex: nowrap;
  margin-bottom: 40px;
}

.product-container {
  flex: 0 0 calc(20% - 10px); /* 5 items per row with 10px gap */
  box-sizing: border-box;
  border: 1px solid rgb(124, 85, 85);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: white;
}
.product-container:hover {
  transform: scale(1.05); /* Add a hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.product-info {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.product-price {
  font-family: "Fredoka One", sans-serif;
  font-weight: light;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: transparent;
}

.image-container {
  width: 100%; /* also can use auto */
  height: 150px; /* also can use auto */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px gray;
}

.add-to-cart-icon,
.remove-to-cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.add-to-cart-text {
  border-radius: 5px;
  color: white;
  background-color: rgb(4, 70, 4);
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
  border: none;
  font-family: "Poppins", sans-serif;
}
