.promotion-section {
  background-color: rgb(184, 39, 39);
  align-items: flex-start;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 20px;
  max-height: 475px;
  flex-direction: row-reverse
}
.footer-image{
  width: 300px;
  object-fit: cover;
  flex-shrink: 0;
  padding: 20px;

}
.google-play{
  width:40px;
  height: 20px;
}
.apple-store{
  width: 40px;
  height:20px;
}
#h1{
  text-align: left;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  width: 5000px;
  font-size: xx-large;
  margin-top: 70px;
  
}
#sub-description{
  text-align: center;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}