.promotion-section {
  background-color: rgb(184, 39, 39);
  align-items: flex-start;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding: 20px;
  max-height: 475px;
  flex-direction: row-reverse
}
.footer-image{
  width: 300px;
  object-fit: cover;
  flex-shrink: 0;
  padding: 20px;

}

.desciption-promotion{
  justify-content: left;
  width: 100px;
  align-items: flex-start;
  
}

.google-play{
  width: 200px;
}
.apple-store{
  width: 200px;
}

#h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
  color: white;
  margin-top: 90px;
}
#sub-description{
  color: white;
  width: 600px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
